name: actions workflow

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: list files before checkout
        run: |
          pwd
          ls -al
        #could use here git fetch ... but use an action instead
      - name: checkout
        uses: actions/checkout@v1
      - name: list files after checkout
        run: |
          pwd
          ls -al
      - name: simple JS action
        id: greet-1
        #insted of "run" and it references another GitHub repo:
        uses: actions/hello-world-javascript-action@v1
        #the parameters
        with:
          who-to-greet: Roger
      - name: log greeting time
        run: echo "${{steps.greet-1.outputs.time}}"