name: ENV variables

on: push

env:
  WF_ENV: Available to all jobs in this workflow (WF)

jobs:
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: available only within this job (log-env)
      GITHUB_CONTEXT: ${{ toJson(github) }}
      GITHUB_MATRIX: ${{ toJson(matrix) }}
      GITHUB_SECRETS: ${{ toJson(secrets) }}
    steps:
      - name: echo env vars
        env:
          STEP_ENV: available only within this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"  
          echo "STEP_ENV: ${STEP_ENV}"
          echo "GITHUB_CONTEXT: ${GITHUB_CONTEXT}"
          echo "GITHUB_MATRIX: ${GITHUB_MATRIX}"
          echo "GITHUB_SECRETS: ${GITHUB_SECRETS}"