name: ENV variables

on: push

env:
  WF_ENV: Available to all jobs in this workflow (WF)

jobs:
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: available only within this job (log-env)
    steps:
      - name: echo env vars
        STEP_ENV: available only within this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"  
          echo "STEP_ENV: ${STEP_ENV}"