name: Shell Commands

on: push

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World!"
      - name: multiline script
        run: |
          node -v
          npm -v
      - name: Python Command
        shell: python
        run: |
          import platform
          print(platform.processor())
  run-windows-command:
    runs-on: windows-latest
    #if we want to add a dependency on another job to run them in serioes
    #instead of running them in parallel
    needs: ["run-shell-command"]
    steps:
      - name: Directory list Powershell
        #Powershell equivalent of pwd
        run: Get-Location
      - name: Directory list Bash in Windows
        shell: bash
        run: pwd